* {cursor: none !important;} 
/* becuase lot of the time there is no conetent and I only set it
 to body and body is only where content is present not cases like this */

body {
        position: relative;
        height: 100vh;
}

#terminal {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90%;
        z-index: 99;
}

.xterm .xterm-text-layer {
        letter-spacing: 3px;
}
